* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.wrap {
  width: 95%;
  max-width: 700px;
  margin: 20px auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

header {
  margin-bottom: 20px;
}
header strong {
  font-weight: bold;
}
header p {
  line-height: 1.2em;
  margin-bottom: 0.8em;
}
header p:last-child {
  margin-bottom: 0;
}
header a:link, header a:visited {
  color: #0063A3;
}
header #aboutData {
  background: #F0F0F0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
header #aboutData #aboutDataHeader {
  margin-bottom: 0;
}
header #aboutData #aboutDataHeader:hover {
  cursor: pointer;
  color: #666;
}
header #aboutData #aboutDataInner {
  display: none;
  margin-top: 0.8em;
}

#filter input {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  max-width: 100%;
  padding: 3px;
}
#filter #filterInputWrap {
  position: relative;
}
#filter #filterClear {
  display: none;
  position: absolute;
  right: 3px;
  top: 1px;
}
#filter #filterClear:hover {
  cursor: pointer;
  color: #666;
}

#schoolMap {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  height: 33vh;
  position: fixed;
  z-index: 1000;
}
@media (min-width: 800px) {
  #schoolMap {
    height: 100vh;
    position: fixed;
    right: 0;
    width: 50%;
    margin: 0;
  }
}

#mainContent {
  display: block;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  padding-top: 320px;
  padding-top: calc(33vh + 20px);
}
#mainContent .school {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  #mainContent {
    width: 50%;
    margin: 0;
    padding: 10px;
  }
}

.school:after {
  content: "";
  display: table;
  clear: both;
}
.school .schoolName {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.school .schoolDesc {
  font-weight: bold;
}
.school .schoolEnrollment {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 1em;
}
.school .casesOuter {
  margin-top: 20px;
  width: 100%;
  overflow-y: scroll;
  background: #F0F0F0;
  padding: 10px;
  border-radius: 5px;
}
.school .case {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  float: left;
  width: 300px;
  margin-right: 10px;
}
.school .case.publicSubmission {
  border-color: #0063A3;
  border-style: dashed;
}
.school .case strong {
  font-size: 0.8em;
  font-weight: bold;
}
.school .case p {
  margin-bottom: 5px;
}
.school .case a:link, .school .case a:visited {
  background: #666;
  padding: 3px 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 1em;
  color: #fff;
}
.school .case a:hover {
  background: #777;
}

.clusterIcon {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.clusterIcon strong {
  font-weight: bold;
}

#loading {
  margin-bottom: 10px;
  color: #666;
}

.zoomTo {
  font-weight: normal;
  color: #0063A3;
  margin-left: 20px;
}
.zoomTo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.leaflet-popup-content .zoomTo {
  display: none;
}

/*# sourceMappingURL=main.css.map */
